<h1>Your Programs (<%= link_to 'New', new_program_path %>)</h1>

<table class="user_signups">
<% @programs.each do |program| %>
  <tr>
    <td><%= program.name %></td>
    <td><%= program.users.count %> signups </td>
    <td><%= link_to image_tag("hyperlink.gif"), program %></td>
    <td><%= link_to 'Details', edit_program_path(program) %></td>
  </tr>
<% end %>
</table>